{% extends 'admin/master.html' %}
{% block head %}
<title>
    {% block title %}
    Profile - {{person.first_name|striptags}} {{person.last_name|striptags}}
    {% endblock %}
</title>
{{ super() }}
{% endblock %}
{% block body %}
<h1>{{person.first_name|striptags}} {{person.last_name|striptags}}</h1>
<img src="{{person.photo|striptags}}"
     title="The profile picture of {{person.first_name|striptags}} {{person.last_name|striptags}}"/>
<p><i class="glyphicon glyphicon-phone"><a href="tel:{{person.phone|striptags}}" target="_blank"> Call</a></i></p>
<p><i class="glyphicon glyphicon-envelope"><a href="mailto:{{person.email|striptags}}" target="_blank"> Email</a></i>
</p>
{% endblock %}